[Desktop Entry]
Encoding=UTF-8
Name=PgAdmin 4
Name[de]=PgAdmin 4
Name[es]=PgAdmin 4
Name[fr]=PgAdmin 4
Name[it]=PgAdmin 4
Name[ja]=PgAdmin 4
Name[ko]=PgAdmin 4
Name[pt_BR]=PgAdmin 4
Name[ru]=PgAdmin 4
Name[zh_CN]=PgAdmin 4
Name[zh_HK]=PgAdmin 4
Name[zh_TW]=PgAdmin 4
Comment=PostgreSQL Administration and Developer tool
Comment[de]=PostgreSQL - Administrations- und Entwicklungstool
Comment[es]=Herramienta de administración y para desarrolladores de PostgreSQL
Comment[fr]=Outil de développement et d'administration PostgreSQL
Comment[it]=Strumento per amministrazione e sviluppatori PostgreSQL
Comment[ja]=PostgreSQL 管理および開発ツール
Comment[ko]=PostgreSQL 관리 및 개발자 도구
Comment[pt_BR]=Ferramenta de administrador e desenvolvedor PostgreSQL
Comment[ru]=Инструмент администрирования и разработки PostgreSQL
Comment[zh_CN]=PostgreSQL 管理和开发者工具
Comment[zh_HK]=PostgreSQL 管理和開發者工具
Comment[zh_TW]=PostgreSQL 管理和開發者工具
Exec=/usr/bin/pgAdmin4
Icon=pgadmin
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;Development;Database
